# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

#token 
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